$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.fixPriceTicket{
    @media(max-width:$screen-xs-max){
        padding:0;
    }
}
.priceTicket{
    position: fixed;
    bottom:240px;
    .body{
        padding:20px;
        overflow: scroll;
        max-height: 768px;
        background: white;
    }
    @media(max-width:$screen-xs-max){
        bottom:0px;
        .header{
            padding:5px 20px;
            background: red;
        }
        .body{
            height:1px; //do not remove
            padding: 0;
        }
        &.open{
            top:0;
            height: 100%;
            .body{
                height: 88%;
                background: blue;
            }
        }
    }
}